@page "/dashboard"
@using MudBlazor
@using StudyPlannerApplication.App.Components.Layout
@using StudyPlannerApplication.App.StateContainer
@using StudyPlannerApplication.Domain.Features.Dashboard
@using StudyPlannerApplication.Domain.Features.Notification
@rendermode InteractiveServer
@layout MainLayout
@inject NotificationService _notificationService
@inject DashboardService _dashboardService

@* <div class="card">
    <div class="card-header">
        <h5 class="mb-0">
            Weekly To-Do
        </h5>
    </div>
    @if (_resModel?.Data?.CurrentWeekDataList?.Any()==true)
    {

        <MudGrid >
            @foreach (var item in _resModel.Data.CurrentWeekDataList)
            {
                <MudItem xs="3">
                    <MudPaper Class="pa-3" Elevation="6">
                        <MudChip Text="pink" Color="Color.Info" Value="@Color.Info">@item.DayName</MudChip>
                        @foreach (var data in item.CourseList)
                        {
                            <MudText Typo="Typo.body2">
                                <MudIcon Icon="@GetIcon(data.Status)" Color="@GetStatus(data.Status)" Title="Favorite" />
                                @($"{data.SubjectName} - {data.CourseName}")
                            </MudText>
                        }
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>

    }
</div> *@
@if (_resModel?.Data?.CurrentWeekDataList?.Any() == true)
{
    <MudContainer MaxWidth="MaxWidth.Medium" Class="pa-4">
        <MudPaper Elevation="4" Class="p-2 text-center rounded-lg bg-orange-200">
            <MudText Typo="Typo.h4" Class="font-bold">📅 Weekly To-Do List</MudText>
        </MudPaper>

        <MudGrid Class="mt-4" Spacing="3">
            @foreach (var item in _resModel.Data.CurrentWeekDataList)
            {
                <MudItem Xs="12" Sm="6" Md="4">
                    <MudCard Class="rounded-lg" Style=@GetDayColor(item.DayName)>
                        <MudCardContent>
                            <MudText Typo="Typo.h5" Class="font-bold mb-2">@(GetDayIcon(item.DayName)) @item.DayName</MudText>
                            <!-- Course List -->
                            <MudStack Spacing="2">
                            @foreach (var data in item.CourseList)
                            {
                                <MudText Typo="Typo.body2">
                                    <MudIcon Icon="@GetIcon(data.Status)" Color="@GetStatus(data.Status)" Title="Favorite" />
                                    @($"{data.SubjectName} - {data.CourseName}")
                                </MudText>
                            }
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>

    </MudContainer>
}

